@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

$primary: #ff5a00;
$uiBg: #303030;
$secondaryBg: #eceff4;
$bg: #e0e0e0;

body {
    margin: 0;
    width: 100vw;
    background-color: $bg;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
}

.bold {
    font-weight: 600;
}

#hero {
    position: relative;
    background-color: $uiBg;
    color: white;
    padding: 16.5vh 0 2em 3.75em;
    height: auto;
    border-bottom-left-radius: 3.2em;

    &__title {
        margin: 0 0 0 -0.5em;
        font-size: 3.9em;
    }

    &__under__title {
        margin: -0.1em 0 15em 1.5em;
        color: #cf5c1b;
        font-weight: 400;
        font-size: 1.3em;
    }

    &__info {
        margin: 0 0 12em 0;
        font-size: 1.7em;
    }

    &__laptop-image-container {
        position: absolute;
        top: 0;
        right: 2em;
        width: 45em;
        aspect-ratio: 1;
    }
    &__laptop-image {
        position: absolute;
        top: 4%;
        right: 10%;
        width: 75%;
        aspect-ratio: 1226 / 1350;
        z-index: 1;
    }
    &__laptop-background-image {
        position: absolute;
        bottom: 3%;
        left: 1%;
        width: 100%;
        aspect-ratio: 865 / 582;
    }
}

#presentation {
    margin: 15% auto;
    width: 85%;
    padding: 1.2% 2.3%;
    border-radius: 1.2em;
    box-shadow:
        2em 2em 2.5em rgba(0, 0, 0, 0.3),
        -1em -1em 1.5em $secondaryBg;

    &__title {
        margin-top: 0;
        font-size: 2.6em;
    }
    &__under__title {
        margin: -0.25% 0 10% 0;
        width: 40%;
    }
    &__checklist {
        div {
            margin-bottom: 1%;
            display: flex;
            gap: 0.25em;
            font-size: 0.95em;
            ion-icon {
                font-size: 1.1em;
                color: $primary;
            }
        }
        margin-bottom: 3%;
    }
    .button {
        scale: 0.8;
        margin-left: -2%;
    }
}

#recommended {
    background-color: $secondaryBg;
    height: max-content;
    padding: 5% 0;
    border-radius: 3em;

    &__title {
        margin: 0 0 10% 0;
        font-size: 2.8em;
        text-align: center;
    }

    &__grid {
        display: grid;
        height: 50%;
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6em;
        row-gap: 7em;

        .recommended__card {
            display: flex;
            flex-direction: column;
            background-color: $bg;
            padding: 0 5% 3% 5%;
            border-radius: 1em;
            box-shadow: 0.1em 0.1em 0.5em $primary;

            &__img {
                margin: -3.5em 0 0 0;
                height: 7em;
                aspect-ratio: 1;
            }

            &__name {
                text-align: end;
                font-family: "Kalam", cursive;
                font-weight: 700;
                font-size: 1.85em;
            }
        }
    }
}

#discovery {
    margin: 10% 10%;
    height: max-content;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        height: 90%;
    }

    .discovery__card {
        box-shadow:
            2em 2em 2.5em rgba(0, 0, 0, 0.3),
            -1em -1em 1.5em $secondaryBg;
        padding: 5%;
        border-radius: 1.5em;

        &__title {
            font-family: "Kalam", cursive;
            font-weight: 700;
            font-size: 2em;
            margin: 0;
            margin: 0 0 2.5% 0;
        }
        &__content {
            display: flex;
            width: 100%;
            gap: 5%;
            align-items: center;
        }
        &__img {
            aspect-ratio: 50/34;
            width: 100%;
            border-radius: 1em;
        }
        .button {
            scale: 0.7;
            justify-self: end;
            margin-right: -8%;
        }
    }
}

#footer {
    position: relative;
    background-color: $uiBg;
    color: white;
    overflow: hidden;

    &__content {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        padding: 1.5em;
    }
    &__title {
        margin-bottom: 17%;
        text-align: right;
        font-size: 3.9em;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        margin-left: auto;
    }

    .button {
        scale: 0.9;
        color: black;
    }

    &__laptop-image-container {
        position: absolute;
        top: 15%;
        width: min(36vw, 34em);
        aspect-ratio: 865 / 582;
        transform: scaleX(-1);
    }

    &__laptop-image {
        position: absolute;
        top: -15%;
        left: -3%;
        width: 80%;
        aspect-ratio: 1226 / 1350;
        z-index: 1;
    }

    &__laptop-background-image {
        position: absolute;
        bottom: -20%;
        left: -10%;
        width: 100%;
        aspect-ratio: 865 / 582;
    }
}

.button {
    user-select: none;
    background-color: $primary;
    width: fit-content;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    display: flex;
    gap: 0.5em;
    cursor: pointer;

    > span {
        font-size: 1.2em;
        background-color: $bg;
        color: black;
        padding: 0.95em 2.1em;
        border-radius: 1em;
    }

    ion-icon {
        width: 2em;
        height: auto;
        aspect-ratio: 1.25;
        color: white;
    }
}

.title {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

.under-title {
    margin: -0.1em 0 15em 1.5em;
}

.img {
    user-select: none;
    img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }
}

// TV
@media (min-width: 1400px) {
    #hero {
        &__laptop-image-container {
            scale: 1;
        }
    }
}

// PC
@media (max-width: 1400px) {
    #hero {
        &__laptop-image-container {
            scale: 1;
        }
    }
}

// tablet portrait
@media (max-width: 1220px) {
    #recommended {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5em;
        }
    }
}
// tablet
@media (max-width: 992px) {
    #hero {
        &__laptop-image-container {
            display: none;
        }

        &__under__title {
            margin-bottom: 5em;
        }
        &__info {
            margin-bottom: 5em;
        }
    }
    #recommended {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5em;
        }
    }
}

// phone
@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    #hero {
        &__title {
            font-size: 2.5em;
            margin-left: -1em;
            text-align: center;
        }
        &__under__title {
            margin: 0 -3.75em 5em 0;
            width: 100%;
            text-align: center;
        }
    }
    #recommended {
        &__grid {
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 5em;
        }
    }

    #discovery {
        &__grid {
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin: 5% 5%;
        }
    }

    #footer {
        &__title {
            font-size: 2.5em;
            text-align: center;
        }
        &__bottom {
            width: 100%;
        }
        &__laptop-image-container {
            display: none;
        }
    }
}
