@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
body {
  margin: 0;
  width: 100vw;
  background-color: #e0e0e0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
}

.bold {
  font-weight: 600;
}

#hero {
  position: relative;
  background-color: #303030;
  color: white;
  padding: 16.5vh 0 0 3.75rem;
  height: auto;
  border-bottom-left-radius: 3.2rem;
}
#hero__title {
  margin: 0 0 0 -2rem;
  font-size: 3.9rem;
}
#hero__under__title {
  margin: -0.1rem 0 15rem 1.5rem;
  color: #cf5c1b;
  font-weight: 400;
  font-size: 1.3rem;
}
#hero__info {
  margin: 0 0 12rem 0;
  font-size: 1.7rem;
}
#hero__laptop-image-container {
  position: absolute;
  top: 0;
  right: 1rem;
  width: min(50vw, 52rem);
  aspect-ratio: 1;
}
#hero__laptop-image {
  position: absolute;
  top: 4%;
  right: 10%;
  width: 75%;
  aspect-ratio: 1226/1350;
  z-index: 1;
}
#hero__laptop-background-image {
  position: absolute;
  bottom: 3%;
  left: 1%;
  width: 100%;
  aspect-ratio: 865/582;
}

@media (max-width: 1000px) {
  #hero__laptop-image-container {
    display: none;
  }
}
#bonus {
  margin: 15% auto;
  width: 85%;
  padding: 1.2% 2.3%;
  border-radius: 1.2rem;
  box-shadow: 2em 2em 2.5em rgba(0, 0, 0, 0.3), -1em -1em 1.5em #eceff4;
}
#bonus__title {
  margin-top: 0;
  font-size: 2.6rem;
}
#bonus__under__title {
  margin: -0.25% 0 10% 0;
  width: 40%;
}
#bonus__checklist div {
  margin-bottom: 1%;
  display: flex;
  gap: 0.25rem;
  font-size: 0.95rem;
}
#bonus__checklist div ion-icon {
  font-size: 1.1rem;
  color: #ff5a00;
}
#bonus__checklist {
  margin-bottom: 3%;
}
#bonus .start_button {
  scale: 0.8;
  margin-left: -2%;
}

#recommended {
  background-color: #eceff4;
  height: max-content;
  padding: 5% 0;
  border-radius: 3rem;
}
#recommended__title {
  margin-top: 0;
  font-size: 2.8rem;
  text-align: center;
}
#recommended__grid {
  display: grid;
  height: 50%;
  max-width: 1900px;
  width: auto;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, min(400px, 100%));
  column-gap: 8rem;
  row-gap: 7rem;
}
#recommended__grid .recommended__card {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  padding: 0 5% 3% 5%;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #ff5a00;
}
#recommended__grid .recommended__card__img {
  margin: -3.5rem 0 0 0;
  height: 7rem;
  aspect-ratio: 1;
}
#recommended__grid .recommended__card__name {
  text-align: end;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 1.85rem;
}

#discovery {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(400px, 100%));
  row-gap: 10%;
  column-gap: 10%;
  margin: 10% 10%;
}
#discovery .discovery__card {
  box-shadow: 2em 2em 2.5em rgba(0, 0, 0, 0.3), -1em -1em 1.5em #eceff4;
  padding: 5%;
  border-radius: 1.5rem;
}
#discovery .discovery__card__title {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  margin: 0 0 2.5% 0;
}
#discovery .discovery__card__content {
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
}
#discovery .discovery__card__img {
  aspect-ratio: 50/34;
  width: 100%;
  border-radius: 1rem;
}
#discovery .discovery__card .start_button {
  scale: 0.7;
  justify-self: end;
  margin-right: -8%;
}

#footer {
  position: relative;
  background-color: #303030;
  color: white;
  overflow: hidden;
}
#footer__content {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
}
#footer__title {
  margin-bottom: 17%;
  text-align: right;
  font-size: 3.9rem;
}
#footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
}
#footer .start_button {
  scale: 0.9;
  color: black;
}
#footer__laptop-image-container {
  position: absolute;
  top: 15%;
  width: min(36vw, 34rem);
  aspect-ratio: 865/582;
  transform: scaleX(-1);
}
#footer__laptop-image {
  position: absolute;
  top: -15%;
  left: -3%;
  width: 80%;
  aspect-ratio: 1226/1350;
  z-index: 1;
}
#footer__laptop-background-image {
  position: absolute;
  bottom: -20%;
  left: -10%;
  width: 100%;
  aspect-ratio: 865/582;
}

@media (max-width: 700px) {
  #hero__under__title {
    margin-bottom: 5rem;
  }
  #hero__info {
    margin-bottom: 5rem;
  }
  #footer__title {
    font-size: 2.5rem;
    text-align: center;
  }
  #footer__bottom {
    width: 100%;
  }
  #footer__laptop-image-container {
    display: none;
  }
}
.start_button {
  user-select: none;
  background-color: #ff5a00;
  width: fit-content;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.start_button > span {
  font-size: 1.2rem;
  background-color: #e0e0e0;
  color: black;
  padding: 0.95rem 2.1rem;
  border-radius: 1rem;
}
.start_button ion-icon {
  width: 2rem;
  height: auto;
  aspect-ratio: 1.25;
  color: white;
}

.title {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.under-title {
  margin: -0.1rem 0 15rem 1.5rem;
}

.img {
  user-select: none;
}
.img img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

/*# sourceMappingURL=styles.css.map */
